annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
fastapi==0.141.1
greenlet==3.5.4
h11==0.16.0
idna==3.18
joblib==1.5.3
narwhals==2.24.0
numpy==2.5.1
opencv-python==5.0.0.93
pandas==3.0.5
pillow==12.3.0
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.32
python-whois==0.9.6
pyzbar==0.1.9
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
soupsieve==2.9.2
SQLAlchemy==2.0.51
starlette==1.4.1
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uvicorn==0.52.1
tensorflow
